body {
    background: #222;
    display: flex;
    flex-direction: column;
}

.container {
    background: #222;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}

.navBar {
    padding-right: 19px;
    margin-top: 50px;
    background: #414141;
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.component.home {
    background: white;
    color: gray;
}

.component {
    border: solid 2px white;
    background: #606060;
    border-radius: 20px;
    height: 37px;
    width: 75px;
    margin: 2px;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: 'Trebuchet MS';
    font-weight: bold;
    color: white;
}

.component:hover {
    background: white;
    color: gray;
}

.renderArea {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 75%;
    margin: 5px;
    width: 100%;
}

.actions {
    display: flex;
    flex-direction: row;
}

.CImage.connected {
    height: 10px;
    filter: drop-shadow(0 0 10px lime);
    margin: 2px;
    animation: fadeDS 2.5s infinite;
}

.CHint.connected {
    color: lime;
    margin: 2px;
}

.CImage.disconnected {
    height: 10px;
    filter: drop-shadow(0 0 10px red);
    margin: 2px;
    animation: fadeDSr 2.5s infinite;
}

.CHint.disconnected {
    color: red;
    margin: 2px;
}

.CStatus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
}

@keyframes fadeDS{
    0%, 100% { filter: drop-shadow(0 0 10px lime) }
    50% { filter: drop-shadow(0 0 2px lime) }
}

@keyframes fadeDSr{
    0%, 100% { filter: drop-shadow(0 0 10px red) }
    50% { filter: drop-shadow(0 0 2px red) }
}