@keyframes blinkingred {
    0%, 100% {color: white}
    50% {color: red}
}

.blinking {
    animation: blinkingred 2s infinite;
    color: white;
    filter: drop-shadow(0 0 5px red)
}

.eHint {
    color: white;
    filter: drop-shadow(0 0 5px white)
}